In [84]:
import pandas as pd
import numpy as np

In [3]:
pd.__version__

'2.3.2'

In [4]:
df = pd.read_csv('./car_fuel_efficiency.csv')

In [6]:
df.shape

(9704, 11)

In [ ]:
df.isnull().sum()

In [6]:
df.head(5)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [8]:
df['fuel_type'].value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [39]:
nb_col = 0
for col in df.columns:
    if df[col].isnull().sum() != 0:
        nb_col += 1
nb_col

4

In [44]:
df.groupby(by="origin")["fuel_efficiency_mpg"].max()["Asia"]

np.float64(23.759122836520497)

## Q6. Median value of horsepower
1. Find the median value of the horsepower column in the dataset.

In [45]:
df["horsepower"].mean()

np.float64(149.65729212983547)

2. Next, calculate the most frequent value of the same horsepower column.

In [74]:
most_frequent = df["horsepower"].value_counts(sort=True).index[0]
most_frequent

np.float64(152.0)

3. Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.

In [76]:
df.fillna({"horsepower": most_frequent}, inplace=True)

4. Now, calculate the median value of horsepower once again.

In [77]:
df["horsepower"].mean()

np.float64(149.82821516900248)

## Q7. Sum of weights
1. Select all the cars from Asia

In [108]:
X = np.array(df.loc[df.origin == 'Asia', ['vehicle_weight', 'model_year']].iloc[:7])
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [109]:
XTX = np.dot(X.T, X)
XTX

array([[62248334.33150762, 41431216.5073268 ],
       [41431216.5073268 , 28373339.        ]])

In [110]:
inv_XTX = np.linalg.inv(XTX)
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [113]:
H = np.dot(inv_XTX, X.T)
w = np.dot(H, y)

w.sum()

np.float64(0.5187709081074023)